:root {
    --app-background: black;
    --app-font-color: white;
    --input-text-color: grey;
    --input-background: rgb(183, 235, 252);
}


html, body {
    margin: 0;
    padding: 0;
    background-color: var(--app-background);
    color: var(--app-font-color);
    height: 99vh;
}

#top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

#top img {
    height: 20vh;

}

#input-div {
    display: flex;
    width: 76vw;
    padding: auto;
    box-sizing: border-box;
    margin: auto;
}

.contact-info {
    width: 20vw;
    border-radius: 5px;
    background-color: var(--input-background);
    padding-left: 5px;
}

#to-from-field {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1vh 0;
}

#input-field {
    width: 76vw;
    height: 25vh;
    resize: none;
    padding: 5px;
    color: var(--input-text-color);
    background-color: var(--input-background);
    border-radius: 10px;
}

#submit-btn {
    width: 78vw;
    margin: 0;
    padding: 2% 0;
    border-radius: 8px;
}