:root {
    --app-background: black;
    --app-font-color: white;
    --input-text-color: white;
    --input-background: #444059;
    --input-button-color: #28A9F1;
    --messages-background: white;
    --messages-font: black;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--app-background);
    color: var(--app-font-color);
    height: 99vh;
    font-family: "Josefin Sans", sans-serif;
}

#top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1vh;

    a {
        color: var(--app-font-color)
    }

        a:hover, a:active
    {
        color: var(--input-button-color)
    }

    img {
        height: 15vh;
    }
}


#input-div {
    display: flex;
    width: 78vw;
    padding: auto;
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
}

.contact-info {
    width: 20vw;
    height: 3vh;
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--input-text-color);
}

#to-from-field {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
    
#message-field {
    width: 76vw;
    height: 15vh;
    resize: none;
    padding: 15px 5px;
    color: var(--input-text-color);
    background-color: var(--input-background);
    border-radius: 10px;
    font-size: large;
    font-family: inherit;

}

#publish-btn {
    width: 100%;
    margin: 7px 0;
    padding: 2vh 1vw;
    border-radius: 8px;
    font-family: inherit;
    font-size: larger;
    font-weight: bolder;
    background-color: var(--input-button-color);
    border: none;
    box-shadow: inset -1px -1px silver;
}

#publish-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #444059;
}

#endorsements-heading {
    text-align: center;
}

#endorsements-area {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    width: 78vw;
}

.message {
    padding: 10px;
    margin: 15px 0;
    background-color: var(--messages-background);
    color: var(--messages-font);
}

.to-user, .from-user {
    font-weight: bolder;
}

.bottom-msg {
    width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}